
div.mage1 {
    background: url("../images/login-page.jpg");
    background-size: 1000px, 1000px;
    background-repeat: no-repeat;
}

div.mage2 {
    background: url("../images/login-page.jpg");
    background-size: 1000px, 1000px;
    background-repeat: no-repeat;
}